@{
    Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />

@Html.DropDownList("ClientId")


<p>@Html.ActionLink("Back to Client List", "Index")</p>
<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>