  

@{
    Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Stylist

<h2>Stylist Clients</h2>
<hr />
<ul>
<h3>@Html.ActionLink($"{ Model.Name } Clients", "Index", "Clients")</h3>
<p>@Html.ActionLink("Back to list", "Index")</p>

<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
